{
  "extends": [
    "react-app"
  ] ,
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": [ "error", 2, { "SwitchCase": 1 }],
    "linebreak-style": [ "error", "windows" ],
    "quotes": [ "error", "single" ],
    "semi": [ "error", "always" ],
    "eol-last": [ "error", "always" ],
    "react/prop-types": 0,
    "react-hooks/exhaustive-deps": "warn"
  }
}